<app-role></app-role>
<div class="wrapper">
  <div class="product" *ngFor="let product of products">
    <header class="product__header">
      <span class="product__name">{{ product.name }}</span>
      <button class="product__edit"
              *ngIf="userService.userRole !== 'user'"
              (click)="editProduct(product)">edit
      </button>
    </header>
    <p class="product__description">{{ product.description }}</p>
    <span class="product__price">{{ product.price }} uah</span>
  </div>
</div>
<br>
