<app-role></app-role>
<form class="form" action="" [formGroup]="newProduct"
      (ngSubmit)="onSubmit(newProduct)">
  <label class="form__name">
    <span class="form__name--text">name*</span>
    <input class="form__name--value" type="text"
           formControlName="name" required>
  </label>
  <label class="form__name">
    <span class="form__name--text">description*</span>
    <textarea class="form__name--value form__name--descr"
              formControlName="description" required></textarea>
  </label>
  <label class="form__name">
    <span class="form__name--text">price*</span>
    <input class="form__name--value" type="number"
           formControlName="price" inputmode="numeric" required>
  </label>
  <div class="form__btn-box">
    <button class="form__submit" type="submit"
            [disabled]="!newProduct.valid">Add product</button>
  </div>
</form>
